.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react

git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/billydev139/myelino-fe.git
git push -u origin main